@mixin btn {
  padding: 1rem 2rem;
  border-radius: 0.375rem;
}

@mixin btn-primary {
  @include btn;
  @include button;
  color: getColor(white);
  background-color: getColor(primary, 500);

  &:hover {
    background-color: getColor(primary, 700);
  }
  &:active {
    background-color: getColor(primary, 400);
  }
}

@mixin container {
  width: 100%;

  @media only screen and (min-width: 640px) {
    max-width: 640px;
  }
  @media only screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media only screen and (min-width: 1024px) {
    max-width: 1024px;
  }
  @media only screen and (min-width: 1280px) {
    max-width: 1280px;
  }
  @media only screen and (min-width: 1536px) {
    max-width: 1536px;
  }
}
